.header-container {
  display: flex;
  height: auto;
  width: 100%;
  justify-content: space-around;
}

h1 {
  color: var(--background-color-green) ;
  padding: 1rem 0 0 0;
  font-size: 1.3rem;
  width: 40vw;
  text-align: start;
}

@media all and (min-width: 668px) {
  h1 {
    font-size: 2rem;
    width: auto;
  }
}

@media all and (min-width: 1028px) {

}
