.header-container {
  display: flex;
  height: auto;
  width: 100%;
  justify-content: space-around;
  border-bottom: var(--sticky-note-color-p) solid 1px;
}

h1 {
  color: #0f0f0f;
  padding: 1rem;
  font-size: 1.3rem;
  width: 8rem;
  text-align: left;
}

@media all and (min-width: 668px) {
  h1 {
    font-size: 2rem;
    width: auto;
  }
}
