.taskmaker {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 90vw;
  padding: 10px;
  margin: 2rem 5vw;
  border: 1px solid var(--sticky-note-color-p);
  background-color: var(--background-color-white);
  box-shadow: 0 0 5px var(--sticky-note-color-p);
}

form,
article {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

details > summary {
  list-style-image: url(../assets/arrow.svg);
}

details[open] > summary {
  list-style-image: url(../assets/arrow-up.svg);
}

#date-input,
#task-input,
#topic-input,
#project-input,
#text-input {
  all: unset;
  height: 2rem;
  width: 16rem;
  border-radius: 5px;
  border: 2px solid var(--sticky-note-color-p);
  margin-bottom: 10px;
  margin-top: 5px;
}

input[type="text"] {
  border: 2px solid var(--sticky-note-color-p);
  font-family: "Montserrat";
}

select#importance {
  all: unset;
  border: 2px solid var(--sticky-note-color-p);
  border-radius: 5px;
  height: 2rem;
  width: 15.4rem;
  padding: 10px 0 0 10px;
}

.submit-btn {
  all: unset;
  padding: 7px 10px;
  background-color: var(--background-color-green);
  border: 2px solid var(--sticky-note-color-p);
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  box-shadow: 0 0 5px var(--sticky-note-color-p);
  font-family: "Montserrat";
  color: var(--background-color-white);
}

.submit-btn:hover {
  cursor: pointer;
  color: var(--background-color-grey);
  background-color: var(--sticky-note-color-p);
  box-shadow: 0 0 5px var(--sticky-note-color-p);
}

@media all and (min-width: 668px) {
  .taskmaker {
    width: 400px;
    height: auto;
    border-radius: 5px;
  }

  #date-input,
  #task-input,
  #topic-input,
  #project-input,
  #text-input {
    width: 18rem;
  }

  select#importance {
    width: 17.38rem;
  }
}

.taskmaker-wrap{
  margin-top:0;
}

.taskmaker {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 90vw;
  padding: 10px;
  margin: 0.6rem 5vw;
  border: 1px solid var(  --sticky-note-color-p);
  background-color: var(--background-color-white);
  box-shadow: 0 0 5px var(  --sticky-note-color-p);
}

form,
article {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

details > summary:before {
  list-style-type: none;
  background-image: url(../assets/arrow.svg);
  background-repeat: no-repeat;
  background-position: 0%;
  background-size: 15px;

}

details[open] > summary:before {
  list-style-type: none;
  background-image: url(../assets/arrow-up.svg);
  background-repeat: no-repeat;
  background-position: 0%;
  background-size: 15px;
}
#date-input,
#deadline-input,
#task-input,
#topic-input,
#project-input,
#text-input {
  all:unset;
  height: 2rem;
  width: 18rem;
  border-radius: 5px;
  border:2px solid var(  --sticky-note-color-p);
  margin-bottom: 10px;
  margin-top:5px;
}
#date-input {
  padding: 0.5rem 0 0 0 ;
  margin: 2rem 0;

}
label{
  margin-top:0.5rem;
}


input[type="text"] {
  border:2px solid var(  --sticky-note-color-p);
  font-family: "Montserrat";
}

select#importance {
  all: unset;
  border:2px solid var(  --sticky-note-color-p);
  border-radius: 5px;
  height: 2rem;
  width: 18rem;
  padding:10px 0 0 10px;


}

.submit-btn {
  all: unset;
  padding: 7px 10px;
  background-color:var(--background-color-green);
  border: 2px solid var(  --sticky-note-color-p);
  border-radius: 8px;
  cursor: pointer;
  text-align: center ;
  margin-top: 10px;
  box-shadow: 0 0 5px  var(  --sticky-note-color-p);
  font-family: "Montserrat";
  color:var( --background-color-white);
}

.submit-btn:hover {
  cursor: pointer;
  color: var(--background-color-grey);
  background-color:  var(--sticky-note-color-p);
  box-shadow: 0 0 5px  var(  --sticky-note-color-p);
}

@media all and (min-width: 668px) {
  .taskmaker {
    width: 400px;
    height: auto;
    border-radius: 5px;
    margin:0rem 5vw;
  }


}

@media all and (min-width: 1028px) {
  .taskmaker {
    margin:1.5rem 5vw;
  }

