.taskmaker {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 90vw;
  padding: 1rem;
  margin: 2rem 5vw;
  border: 1px solid var(--sticky-note-color-p);
  background-color: var(--background-color-white);
  box-shadow: 0 0 5px var(--sticky-note-color-p);
}


form,
article {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

details>summary,
#date-input,
#task-input,
#topic-input,
#project-input,
#text-input {
  all: unset;
  height: 2rem;
  width: 15.4rem;
  border-radius: 5px;
  border: 2px solid var(--sticky-note-color-p);
  margin-bottom: 10px;
  margin-top: 5px;
}

details>summary {
  width: 15.4rem;
  background-image: url(../assets/arrow.svg);
  background-repeat: no-repeat;
  background-position: 95%;
  background-size: 15px;
  padding: 0.5rem 0.1rem 0rem;
}

details[open]>summary {
  background-image: url(../assets/arrow-up.svg);
  background-repeat: no-repeat;
  background-position: 95%;
  background-size: 15px;
}

input[type="text"] {
  border: 2px solid var(--sticky-note-color-p);
  padding: 0.5rem 0.5rem;
  font-family: "Montserrat";
}

select {
  all: unset;
}

select#importance {
  all: unset;
  border: 2px solid var(--sticky-note-color-p);
  border-radius: 5px;
  height: 2rem;
  max-width: 15.4rem;
  padding: 0.5rem 0.5rem 0rem;
}

.submit-btn {
  all: unset;
  padding: 0.5rem 0.5rem;
  background-color: var(--background-color-green);
  border: 2px solid var(--sticky-note-color-p);
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  box-shadow: 0 0 5px var(--sticky-note-color-p);
  font-family: "Montserrat";
  color: var(--background-color-white);
}

.submit-btn:hover {
  cursor: pointer;
  color: var(--background-color-grey);
  background-color: var(--sticky-note-color-p);
  box-shadow: 0 0 5px var(--sticky-note-color-p);
}
details>summary {
  display:flex;
  max-width: 300px;
}

@media all and (min-width: 668px) {
  .taskmaker {
    width: 400px;
    height: auto;
    border-radius: 5px;
    margin: 0rem 5vw;
  }


  #date-input,
  #task-input,
  #topic-input,
  #project-input,
  select#importance,
  #text-input {
    width: 18rem;
  }


  .taskmaker-wrap {
    margin-top: 0;
  }



  form,
  article {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  details>summary:before {
    background-image: url(../assets/arrow.svg);
    background-repeat: no-repeat;
    background-position: 90%;
    background-size: 15px;

  }

  details[open]>summary:before {
    background-image: url(../assets/arrow-up.svg);
    background-repeat: no-repeat;
    background-position: 90%;
    background-size: 15px;
  }

}