.taskcounter {
  padding: 1rem;
  width: 320px;
  color: var(--font-color-light);
  background-color: var(--background-color-green);
}

.counter-container {
  margin-top: 1rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.do-complete {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 1rem;
}

.total-task {
  margin-bottom: 1.5rem;
}

@media all and (min-width: 668px) {
  .taskcounter {
    width: 400px;
    border-radius: 5xp;
  }
}
