.taskcounter {
  padding: 1rem;
  width: 320px;
  color: var(--font-color-light);
  background-color: var(--background-color-green);
}

.counter-container {
  margin: 1rem 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.do-complete {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 1rem;
}

.total-task {
  margin-bottom: 1.5rem;
}
