.tasklist-container {
  width: 100%;
  padding: 1rem;
  background-color: var(--background-color-white);
}

.todo {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.todo-item {
  display: flex;
  flex-flow: column wrap;
  width: 90vw;
  height: auto;
  margin: 1rem;
  padding: 1rem;
  color: var(--font-color-dark);
  border: 1px solid var(--sticky-note-color-p);
  background-color: var(--sticky-note-color-y);
  box-shadow: 0 0 5px var(--sticky-note-color-p);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.task-name {
  font-size: 1.3rem;
  margin-top: 0rem;
}

#detail-titles span {
  font-weight: bold;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}

.more-details-wrapper {
font-size: 1rem;
  display: flex;
  font-weight: 600;
}
p#detail-titles {
  padding-top: 0.5rem;
}

.created {
  font-style: italic;
  text-align: end;
  font-size: 0.8rem;
  padding: 0 0.7rem 0.5rem 0;
}

.delete-btn {
  align-self: flex-end;
  margin: 0.5rem 0.5rem;
  height: 2rem;
  width: 7rem;
  color: #0c0a3e;
  background-color: var(--sticky-note-color-y);
  border: none;
  text-align: end;
  font-size: 1rem;
}

.delete-btn::after {
  content: " Delete";
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.delete-btn:hover {
  cursor: pointer;
  font-size: 1.05rem;
  transition: 0.3s ease-in-out;
  color: #273469;
}

/* CHECKBOX STYLING */
.todo-wrapper {
  margin: 0.6rem 0;
  font-size: 1.2rem;
  display: flex;
  gap: 0.7rem;
  align-items: flex-start;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  height: 1.5rem;
  width: 1.5rem;
  background-color:var(--background-color-white);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  flex:none;
}

input[type="checkbox"]::after {
  content: "✔";
  color: #fafaff;
  font-weight: 500;
  font-size: 1.5rem;
  display: none;
}

input[type="checkbox"]:checked {
  background-color: var(--background-color-green);
}

input[type="checkbox"]:checked::after {
  display: block;
}

@media all and (min-width: 668px) {
  .todo {
    flex-flow: row wrap;
    max-width: 600px;
  }

  .todo-item {
    max-width: 320px;
  }

  .tasklist-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .todo-wrapper {
    align-items: flex-start;
  }
}

@media all and (min-width: 1028px) {
  .todo {
    max-width: 1000px;
  }

  .todo {
    align-items: flex-start;
  }
}
