.todo,
.taskmaker{
  display:flex;
  flex-flow: column wrap;
  justify-content:center;
  align-items:center;
  width: 100%;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 5px #ccc;
}
.reminder,
  .taskmaker article{
    display:flex;
    flex-flow: column wrap;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 5px #ccc;
  }


      h2{
        font-size: 1.5em;
        margin: 0;
        text-align: center;
      }

      p{
        font-size: 1em;
        margin: 0;
      }


      button{
        padding: 5px 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
        cursor: pointer;
        margin-left:10px;
      }
