#root {
  --sticky-note-color-y: rgb(245, 245, 86);
  --sticky-note-color-p: rgb(255, 192, 203);
  --background-color-green: #274c43;
  --background-color-white: #f9f9f9;
  --background-color-grey: #b5b4b4;

  --font-color-dark: #0f0f0f;
  --font-color-light: #f9f9f9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
}

.todo-app {
  background-color: var(--background-color-white);
}

h1 {
  color: #0f0f0f;
  padding: 1.7rem 1rem 0.8rem 1rem;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  text-align: center;
}

p {
  font-size: 1em;
  font-weight: normal;
}

@font-face {
  font-family: Indie Flower;
  src: url(./assets/IndieFlower-Regular.ttf);
}

@font-face {
  font-family: Montserrat;
  src: url(./assets/Montserrat-VariableFont_wght.ttf);
}

@media all and (min-width: 668px) {
  .todo-app {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }
}
