#root {
  --sticky-note-color-y: rgb(245, 245, 86);
  --sticky-note-color-p: rgb(255, 192, 203);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-size: 1.5em;
  text-align: center;
}

p {
  font-size: 1em;
  font-weight: normal;
}

@font-face {
  font-family: Indie Flower;
  src: url(./assets/IndieFlower-Regular.ttf);
}

@font-face {
  font-family: Montserrat;
  src: url(./assets/Montserrat-VariableFont_wght.ttf);
}
